/* Home Section */
#home {
  width: 100%;
  height: 786px;
  min-height: 786px;
  background-color: transparent;
  position: relative;
  display: table;
}

#home .overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  opacity: .32;
  background-color: #000015;
}

.home-content {
  display: table-cell;
  width: 100%;
  height: 100%;
  vertical-align: bottom;
}

.home-content .contents {
  position: relative;
}

.home-content-left {
  padding: 15rem 0 12rem 40px;
  position: relative;
  width: 50%;
}

.home-content-left h3 {
  color: var(--color-white);
  font-size: 1.6rem;
  line-height: 1.5;
  text-transform: uppercase;
  letter-spacing: .2rem;
  margin-bottom: 2.4rem;
}

.home-content-left h1 {
  font-family: var(--font-primary);
  font-size: 5.2rem;
  letter-spacing: -.05rem;
  line-height: 1.269;
  color: #ffae00;
  margin-bottom: 9rem;
}

.title-backdrop {
  position: relative;
  display: inline-block;
  padding: 3rem;
  margin: -4rem;
  margin-bottom: 7rem;
  border-radius: 40px;
}

.title-backdrop::before {
  content: '';
  position: absolute;
  top: -45px;
  left: 67px;
  width: 100%;
  height: 104%;
  background: radial-gradient(
    circle at 43% 51%,
    rgba(0, 0, 0, 0.6) -40%,
    rgba(0, 0, 0, 0.5) -31%,
    rgba(0, 0, 0, 0.2) 35%,
    rgba(0, 0, 0, 0.1) 45%,
    transparent 80%
  );
  z-index: -1;
  pointer-events: none;
}

.home-content-left p {
  color: #d4d4d4;
  margin-bottom: 3rem;
  font-size: 1.8rem;
}

.home-content-left .button.stroke {
  color: #ffc800 !important;
  border-color: #ffc800;
  margin: 0 .6rem 1.2rem;
  padding: 0 2.2rem;
  min-width: 188px;
}

.home-content-left .button.stroke:hover,
.home-content-left .button.stroke:focus {
  background-color: #ffc800 !important;
  color: var(--color-black) !important;
}

.home-image-right {
  display: block;
  position: absolute;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  padding-top: 21rem;
  z-index: 500;
  width: 50%;
  text-align: right;
}

.home-image-right img {
  vertical-align: bottom;
  width: 75%;
}

/* Home Social List */
.home-social-list {
  position: absolute;
  right: 42px;
  top: 50%;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: 2.2rem;
  line-height: 1.75;
  text-align: center;
  transform: translateY(-55%);
}

.home-social-list::before {
  content: "";
  display: block;
  width: 2px;
  height: 42px;
  background-color: rgba(255, 255, 255, 0.15);
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 12px;
}

.home-social-list li {
  padding-left: 0;
}

.home-social-list li a {
  color: #FFFFFF;
}

.home-social-list li a:hover,
.home-social-list li a:focus {
  color: var(--color-primary) !important;
}

/* Scroll Down */
.home-scrolldown {
  position: absolute;
  bottom: 0;
  right: 0;
  transform: rotate(90deg);
  transform-origin: right top;
  float: right;
}

.home-scrolldown i {
  padding-left: 9px;
}

.home-scrolldown a:hover,
.home-scrolldown a:focus {
  color: var(--color-primary) !important;
}

.scroll-icon {
  display: inline-block;
  font-family: var(--font-primary);
  font-size: 1.2rem;
  text-transform: uppercase;
  letter-spacing: .3rem;
  color: #FFFFFF !important;
  background: transparent;
  position: relative;
  top: 36px;
  right: 42px;
  animation: animate-it 3s ease infinite;
}

.scroll-icon i {
  font-size: 2.4rem;
  position: relative;
  bottom: -6px;
}

.scroll-icon:hover,
.scroll-icon:focus {
  color: #ffc800 !important;
}

/* Responsive: Home */
@media only screen and (max-width: 1200px) {
  .home-content-left h1 {
    font-size: 4.8rem;
  }
  
  .home-content-left h1 br {
    display: none;
  }
}

@media only screen and (max-width: 1024px) {
  .home-content-left {
    width: 60%;
    padding: 18rem 6rem 12rem 4rem;
  }
  
  .home-content-left h1 {
    font-size: 4.2rem;
  }
  
  .home-image-right {
    width: 40%;
    padding-top: 120px;
  }
  
  .home-image-right img {
    width: 100%;
  }
}

@media only screen and (max-width: 900px) {
  #home {
    height: auto;
    min-height: 840px;
  }

  #home, .home-content {
    display: block;
    text-align: center;
  }

  .home-content-left {
    width: 94%;
    position: static;
    padding: 15rem 6rem 366px;
    margin: 0 auto;
  }

  .home-image-right {
    width: 400px;
    right: auto;
    top: auto;
    left: 50%;
    bottom: 0;
    transform: translateX(-50%);
    padding: 0;
    margin-bottom: -378px;
  }
}

@media only screen and (max-width: 768px) {
  .home-content-left h1 {
    font-size: 3.6rem;
  }
}

@media only screen and (max-width: 600px) {
  .home-content-left {
    padding: 12rem 6rem 366px;
  }
  
  .home-content-left h1 {
    font-size: 3.3rem;
  }
  
  .home-content-left .button.stroke {
    width: 100%;
    min-width: 0;
    max-width: 280px;
  }
  
  .home-social-list {
    font-size: 2rem;
    right: 30px;
  }
  
  .scroll-icon {
    top: 21px;
  }
}

@media only screen and (max-width: 500px) {
  .home-social-list,
  .home-scrolldown {
    display: none;
  }
  
  .home-content-left {
    padding: 12rem 2.5rem 366px;
    width: 100%;
  }
  
  .home-content-left h1 {
    font-size: 3rem;
  }
}

@media only screen and (max-width: 400px) {
  .home-content-left {
    padding: 12rem 0 300px;
  }
  
  .home-image-right {
    width: 320px;
    margin-bottom: -298px;
  }
}
